In [13]:
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

pd.set_option('display.max_rows', None)
pd.options.display.max_columns = None

df = pd.read_csv('train_sample.csv', delimiter = ',')

/Users/mj/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (11,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df.drop(columns = ['conyuemp','ult_fec_cli_1t'])

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1146077,N,ES,H,22,2013-07-23,0.0,24,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2016-04-28,283972,N,ES,V,45,2001-10-19,0.0,174,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-02-28,539809,N,ES,H,74,2005-07-04,0.0,120,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2016-03-28,554688,N,ES,H,56,2016-03-11,0.0,126,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2016-05-28,1189147,N,ES,H,24,2013-10-03,0.0,31,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2015-02-28,978388,N,ES,H,26,2011-11-14,0.0,44,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
999996,2016-02-28,1529103,N,ES,H,36,2016-02-01,1.0,0,1.0,...,0,0,0,0,0,1,0,0.0,0.0,0
999997,2015-10-28,382237,N,ES,H,40,2002-09-20,0.0,56,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
999998,2016-02-28,837203,N,ES,H,66,2009-03-03,0.0,83,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
999999,2015-10-28,989973,N,ES,V,42,2011-12-05,0.0,46,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [ ]:
df